body {
  margin: 0;
  padding: 40px;
  font-family: sans-serif;
  margin:0;
  padding:0;
  background:url("https://static.vecteezy.com/system/resources/previews/000/106/719/original/vector-abstract-blue-wave-background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.icon {
	text-align:center;
}
.login-text {
	width: 95%;
}
.col-height {
	padding-top:10%;
}
.center {
	    margin-left: 11%;
}
.login-bg {
	background-color: gray;
	border-radius:5px;
	width: 300px;
    height: 25vh;
    text-align: center;
    margin: auto;
	
}
#image {
  position: absolute;
  left: 11%;
  top: 190px;
}
.register {
	color:black;
	text-decoration:none;
	padding-right: 23px;	
}
.register:hover {
	color:black;
	text-decoration:none;	
}
.reg-email{
	padding-left: 28px;
}
.text-border {
	border: 1px solid #9efdff;
    background-color: #9efdff;
    border-radius: 70px 5px 245px 70px;
    padding:10px;
    margin:5px;
}
.myUser{
  font-weight: bold;
  font-size: 15px;
  color: #670EB8;
  display: inline;
}

.myTitle{
  font-weight: bold;
  font-size: 70px;
  color: black;
  letter-spacing:25px;
  text-align:center;
  font-family: Bodoni MT Poster;

}
.text-area {
	border-top: 1px solid black;
}
.box {
	 height: 50vh;
    background: #ffffff;
    overflow: auto;
}
.panel-primary {
    border-color: gray;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: gray;
    border-color: gray;
}
.panel-body {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
    background-color: lightgray;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0px;
}
.btn-primary {
    color: #fff;
    background-color: #380c0c;
    border-color: #380c0c;
}
.btn-primary:hover {
    color: #fff;
    background-color: #000000;
    border-color: #380c0c;
}
#rc {
  border: -5px solid #e4fff9;
  height:32px;
  background-color: #e4fff9;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (min-width: 339px) {
	#rc {
	    border: -5px solid #e4fff9;
	    height: 32px;
	    background-color: #e4fff9;
	    width: 84%;
	}
}
@media screen and (min-width: 445px) {
	#rc {
	    border: -5px solid #e4fff9;
	    height: 32px;
	    background-color: #e4fff9;
	    width: 85%;
	}
}
@media screen and (min-width: 500px) {
	#rc {
	    border: -5px solid #e4fff9;
	    height: 32px;
	    background-color: #e4fff9;
	    width: 87%;
	}
}
@media screen and (min-width: 640px) {
	#rc {
	    border: -5px solid #e4fff9;
	    height: 32px;
	    background-color: #e4fff9;
	    width: 91%;
	}
}
@media screen and (min-width: 640px) {
	#rc {
	    border: -5px solid #e4fff9;
	    height: 32px;
	    background-color: #e4fff9;
	    width: 91%;
	}
}
@media screen and (min-width: 712px) {
	#rc {
	    border: -5px solid #e4fff9;
	    height: 32px;
	    background-color: #e4fff9;
	    width: 92%;
	}
}
@media screen and (min-width: 992px) {
	#rc {
	    border: -5px solid #e4fff9;
	    height: 32px;
	    background-color: #e4fff9;
	    width: 94%;
	}
}
@media screen and (min-width: 1100px) {
	#rc {
	    border: -5px solid #e4fff9;
	    height: 32px;
	    background-color: #e4fff9;
	    width: 94%;
	}
}
@media screen and (min-width: 1200px) {
	#rc {
	    border: -5px solid #e4fff9;
	    height: 32px;
	    background-color: #e4fff9;
	    width: 95%;
	}
}


